/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  background-color: #F5F5F5;
}

.l-keyVisual__container {
  width: 100%;
  padding: 0 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .l-keyVisual__container {
    text-align: left;
  }
}

.c-button {
  display: inline-block;
}
.c-button__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 50px;
  padding: 18px 72px;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}
.c-button__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#250D65), to(#7633A4));
  background: linear-gradient(#250D65, #7633A4);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  position: absolute;
  top: 0;
  left: 0;
}
.c-button__link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.c-button__link .c-button__text {
  font-size: 0.9333333333rem;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 5%;
  z-index: 2;
}
.c-button__link .c-button__icon {
  line-height: 19px;
  position: absolute;
  right: 22px;
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 86px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.p-header__title--image {
  width: 160px;
}
.p-header .p-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.p-header .p-nav__list--link {
  font-size: 0.9333333333rem;
  font-weight: bold;
  line-height: 1.6666666667rem;
  letter-spacing: 5%;
  color: #FFF;
  position: relative;
}
.p-header .p-nav__list--link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #FFF;
  border-radius: 8px;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.p-header .p-nav__list--link:hover::after {
  width: 100%;
}

.p-header.scrolled {
  background-color: #21054D;
}

@media screen and (max-width: 992px) {
  .p-nav {
    display: grid;
    place-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#250D65), to(#7633A4));
    background: linear-gradient(#250D65, #7633A4);
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 3;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
}
.open .p-nav {
  right: 0;
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 992px) {
  .p-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-nav__list--link {
  font-size: 1.0666666667rem;
}

.c-toggle__button {
  display: none;
}
@media screen and (max-width: 992px) {
  .c-toggle__button {
    display: block;
    width: 30px;
    height: 20px;
    z-index: 4;
    cursor: pointer;
    position: relative;
  }
}
.c-toggle__button--line {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #FFF;
  border-radius: 8px;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.c-toggle__button--line:nth-child(1) {
  top: 0;
}
.open .c-toggle__button--line:nth-child(1) {
  top: calc(50% - 2px);
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}
.c-toggle__button--line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.open .c-toggle__button--line:nth-child(2) {
  opacity: 0;
}
.c-toggle__button--line:nth-child(3) {
  bottom: 0;
}
.open .c-toggle__button--line:nth-child(3) {
  bottom: 50%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.p-keyVisual {
  width: 100%;
  height: 100vh;
  background-image: url("../images/keyVisual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.p-keyVisual__title--main {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 4.8rem;
  letter-spacing: 5%;
  color: #FFF;
  text-shadow: 0 0 2.5px rgba(185, 117, 201, 0.9);
  margin-bottom: 20px;
}
.p-keyVisual__title--sub {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8666666667rem;
  letter-spacing: 10%;
  color: #FFF;
  text-shadow: 0 3px 3px rgba(153, 38, 196, 0.16);
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .p-keyVisual__title--sub {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .u-lineBreak--md::before {
    content: "\a";
    white-space: pre;
  }
}